@model OpenLawOffice.Web.ViewModels.Billing.BillingRateViewModel

@{ 
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Edit Billing Rate";
    ViewBag.PageTitle = "Edit Billing Rate";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Settings">Settings</a></li>
        <li><a href="/BillingRates">Billing Rates</a></li>
        <li>Group: <a href="/BillingRates/Details/@(Model.Id)">@(Model.Title)</a></li>
        <li><a href="/BillingRates/Edit/@(Model.Id)" class="active">Edit</a></li>
    </ul>
}

<script type="text/javascript">
    $(function () {
        $("#new").click(function () {
            window.location = '/BillingRates/Create';
        })
        $("#edit").click(function () {
            window.location = '/BillingRates/Edit/@(Model.Id)';
        })
    })
</script>

<div class="container-fluid">
    <div class="row text-right">
        <div class="btn-group">
            <button id="new" class="btn btn-sm btn-primary"><span class="fa fa-plus"></span> New Group</button>
            <button id="edit" class="btn btn-sm btn-primary"><span class="fa fa-pencil"></span> Edit</button>
        </div>
    </div>
</div>

@using (Html.BeginForm())
    {
@(Html.ValidationSummary(true))
    <div class="panel panel-default">
        <div class="panel-heading">
            Billing Rate Details
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">Title<span class="required-field" title="Required Field">*</span></div>
                <div class="col-sm-3">@(Html.TextBoxFor(model => model.Title))</div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">Price Per Unit<span class="required-field" title="Required Field">*</span></div>
                <div class="col-sm-3">@(Html.TextBoxFor(model => model.PricePerUnit))</div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </div>
}