@model OpenLawOffice.Web.ViewModels.CoreViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        Core Details
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">Created By:</div>
            <div class="col-sm-3">@(Model.CreatedBy.Username)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Created At:</div>
            <div class="col-sm-3">@(String.Format("{0:g}", Model.Created.Value))</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Modified By:</div>
            <div class="col-sm-3">@(Model.ModifiedBy.Username)</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Created At:</div>
            <div class="col-sm-3">@(String.Format("{0:g}", Model.Modified.Value))</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Disabled By:</div>
            <div class="col-sm-3">
                @if (Model.DisabledBy != null)
                {
                    <text> Model.DisabledBy.Username </text>
                }
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Disabled At:</div>
            <div class="col-sm-3">
                @if (Model.Disabled.HasValue)
                {
                    <text> Model.Disabled.Username </text>
                }
            </div>
        </div>
    </div>
</div>