@model OpenLawOffice.Web.ViewModels.Account.ProfileViewModel

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "User Profile";
    ViewBag.PageTitle = "User Profile";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Account">My Account</a></li>
        <li><a href="/Account/Profile" class="active">Profile</a></li>
    </ul>
}

@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">Profile Information</div>
        <div class="panel-body">
            <div class="form-group">
                <span class="control-label col-sm-2">My Contact Info</span>
                <div class="col-sm-10">
                    @(Html.DropDownListFor(x => x.ContactId,
                        new SelectList(ViewBag.EmployeeContactList, "Id", "DisplayName"), new { @class="form-control" }))
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-sm-2">External App. Key</span>
                <div class="col-sm-10">
                    @(Html.TextBoxFor(m => m.ExternalAppKey, new { value = Model.ExternalAppKey, @class = "form-control" }))
                    <a href="?newAppKey=true">Generate New Key</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </div>
}