@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Account Recovery";
}

<h2>Email Sent</h2>

<p>
    We have sent an email message to the address associated with the account.  Inside that email will
    be a link you must click in order to reset your password.
</p> 