@model OpenLawOffice.Web.ViewModels.Tasks.TaskResponsibleUserViewModel

@{ 
    ViewBag.Title = "Delete Responsible User from Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="roadmap">
    <div class="zero">Matter: [@(Html.ActionLink((string)ViewBag.Matter, "Details", "Matters", new { id = ViewBag.MatterId }, null))]</div>
    <div class="one">Task: [@(Html.ActionLink((string)ViewBag.Task, "Details", "Tasks", new { id = ViewBag.TaskId }, null))]</div>
    <div id="current" class="two">Delete Responsible User from Task<a id="pageInfo" class="btn-question" style="padding-left: 15px;">Help</a></div>
</div>
    
<h3>
    Are you sure you want to delete this?</h3>
<table class="detail_table">
    <tr>
        <td class="display-label">
            Id
        </td>
        <td class="display-field">
            @(Model.Id)
        </td>
    </tr>
    <tr>
        <td class="display-label">
            Task
        </td>
        <td class="display-field">
            @(Html.ActionLink(Model.Task.Title, "Details", "Tasks", new { id = Model.Task.Id }, null))
        </td>
    </tr>
    <tr>
        <td class="display-label">
            User
        </td>
        <td class="display-field">
            @(Html.ActionLink(Model.User.Username, "Details", "Users", new { id = Model.User.PId }, null))
        </td>
    </tr>
    <tr>
        <td class="display-label">
            Responsiblity
        </td>
        <td class="display-field">
            @(Model.Responsibility)
        </td>
    </tr>
</table>
@{ Html.RenderPartial("_CoreDetails");}

@using (Html.BeginForm())
    {
<p>
    <input type="submit" value="Delete" />
</p>
}
<div id="pageInfoDialog" title="Help">
    <p>
    <span style="font-weight: bold; text-decoration: underline;">Info:</span>
    This page allows a user responsibility for a task to be removed.<br /><br />
    <span style="font-weight: bold; text-decoration: underline;">Usage:</span>
    To remove the responsible user, click the Delete button.
    </p>
</div> 