@model OpenLawOffice.Web.ViewModels.Notes.NoteViewModel

@{
    ViewBag.Title = "HotDocs Matter Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="roadmap">
    <div class="zero">Matter: [@(Html.ActionLink((string)ViewBag.Matter, "Details", "Matters", new { id = ViewBag.MatterId }, null))]</div>
    <div id="current" class="one">Edit Task<a id="pageInfo" class="btn-question" style="padding-left: 15px;">Help</a></div>
</div>

@using (Html.BeginForm())
{
    @(Html.ValidationSummary(true))
    <table class="detail_table">
        <tr>
            <td class="display-label">
                Id
            </td>
            <td class="display-field">
                @(Model.Id)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                Title<span class="required-field" title="Required Field">*</span>
            </td>
            <td class="display-field">
                @(Html.TextBoxFor(model => model.Title, new { @style = "width: 100%;" }))
                @(Html.ValidationMessageFor(model => model.Title))
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Save" />
    </p>
}

<div id="pageInfoDialog" title="Help">
    <p>
        <span style="font-weight: bold; text-decoration: underline;">Info:</span>
        Allowed editing of the detailed information about the matter extended fields.
    </p>
</div>
