@model dynamic

@{ 
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Complete</h2>
Installation has completed. After login, please make sure to update account profile for the Administrator user.
To login to the system, click the link below. Your initial account information is as follows:
<br />
<br />
Username: Administrator<br />
Password: password<br />
<br />
@(Html.ActionLink("Login", "Login", "Account")) 