@model dynamic

@{ 
    ViewBag.Title = "MissingDbInstallScript";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
        Missing Installation Script</h2>
    I tried installing the database, but could not find the necessary installation script.
    Please either restore the script or redownload the distribution package. 