@model IEnumerable<OpenLawOffice.Web.ViewModels.Documents.DocumentViewModel>

@{ 
    ViewBag.Title = "Documents of Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="roadmap">
    <div class="zero">Matter: [@(Html.ActionLink((string)ViewBag.Matter, "Details", "Matters", new { id = ViewBag.MatterId }, null))]</div>
    <div class="one">Task: [@(Html.ActionLink((string)ViewBag.Task, "Details", "Tasks", new { id = ViewBag.TaskId }, null))]</div>
    <div id="current" class="two">Documents of Task<a id="pageInfo" class="btn-question" style="padding-left: 15px;">Help</a></div>
</div>
    
<table class="listing_table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Title
        </th>
        <th>
            Ext
        </th>
        <th style="width: 20px;">
        </th>
    </tr>
    @foreach (var item in Model)
        {
    <tr>
        <td>
            @(string.Format("{0:MMM d, yyyy}", item.Date))
        </td>
        <td>
            @(Html.ActionLink(item.Title, "Details", "Documents", new { id = item.Id }, null))
        </td>
        <td>
            @(item.Extension)
        </td>
        <td>
            @(Html.ActionLink("Edit", "Edit", "Documents", new { id = item.Id }, new { @class = "btn-edit", title = "Edit" }))
        </td>
    </tr>
    }
</table>
<div id="pageInfoDialog" title="Help">
    <p>
    <span style="font-weight: bold; text-decoration: underline;">Info:</span>
    Documents are files.  They can be word documents, PDFs or any other type of file.
    The documents on this page pertain to the task.<br /><br />
    <span style="font-weight: bold; text-decoration: underline;">Usage:</span>
    Clicking the title will show the details of the document.  Click the 
    <img src="../../Content/fugue-icons-3.5.6/icons-shadowless/pencil.png" /> (edit icon) to make 
    changes to the document.  Click the 
    <img src="../../Content/fugue-icons-3.5.6/icons-shadowless/download-cloud.png" /> (download icon) to 
    download the current version of the document.
    </p>
</div> 