@model IEnumerable<OpenLawOffice.Web.ViewModels.Matters.MatterTypeViewModel>

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Matter Types";
    ViewBag.PageTitle = "Matter Types";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Settings">Settings</a></li>
        <li><a href="/MatterTypes" class="active">Matter Types</a></li>
    </ul>
}

<script type="text/javascript">
    $(function () {
        $("#new").click(function () {
            window.location = '/MatterTypes/Create';
        })
    })
</script>

<div class="container-fluid">
    <div class="row text-right">
        <div class="btn-group">
            <button id="new" class="btn btn-sm btn-primary">
                <span class="fa fa-plus"></span> Create
            </button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Matter Types
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-hover table-text-small">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @(Html.ActionLink(item.Title, "Details", new { id = item.Id }))
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-xs btn-default" onclick="navTo('/MatterTypes/Edit/@(item.Id.Value)')">
                                <span class="fa fa-pencil"></span> Edit
                            </button>
                            <button type="button" class="btn btn-xs btn-default" onclick="navTo('/MatterTypes/Delete/@(item.Id.Value)')">
                                <span class="fa fa-times"></span> Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>