@model IEnumerable<OpenLawOffice.Web.ViewModels.Contacts.ContactViewModel>

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Contacts";
    ViewBag.PageTitle = "Contacts";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/Contacts">Contacts</a></li>
    </ul>
}

<script language="javascript">
    var vars = [], hash;
    var q = document.URL.split('?')[1];
    if (q != undefined) {
        q = q.split('&');
        for (var i = 0; i < q.length; i++) {
            hash = q[i].split('=');
            vars.push(hash[1]);
            vars[hash[0]] = hash[1];
        }
    }
    $(document).ready(function () {
        $('#contactFilterGo').click(function () {
            go();
        });
        $('#contactFilter').focus(function () {
            $('#contactFilter').val('');
        });
        $('#contactFilter').keyup(function (e) {
            if (e.keyCode == 13) go();
        });
        $('#contactFilter').autocomplete({
            source: "/Contacts/ListDisplayNameOnly",
            minLength: 2,
            focus: function (event, ui) {
                $("#contactFilter").val(ui.item.DisplayName);
                return false;
            },
            select: function (event, ui) {
                $("#contactFilter").val(ui.item.DisplayName);
                go();
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<a>" + item.DisplayName + "</a>")
                .appendTo(ul);
        };
    });
    function go() {
        var contactFilter = $('#contactFilter').val().trim();
        var base;
        var qMarkAt = window.location.href.lastIndexOf('?');
        $('#contactFilterGo').attr('disabled', 'disabled');
        if (qMarkAt > 0)
            base = window.location.href.substr(0, qMarkAt);
        else
            base = window.location.href;
        if (contactFilter.length > 0)
            window.location.href = base + '?contactFilter=' + contactFilter;
    };
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        Contacts
        <div style="text-align: right; display: inline; float: right;">
            Name: 
            <input type="text" id="contactFilter" name="contactFilter" value="" style="font-size: 12px;" />
            <button id="contactFilterGo" class="btn btn-xs btn-default"><span class="fa fa-arrow-right"></span> Go</button>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-hover table-text-small">
            <thead>
                <tr>
                    <th style="text-align: center;">
                        Display Name
                    </th>
                    <th style="text-align: center;">
                        City, State
                    </th>
                    <th style="text-align: center; width: 200px;">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @(Html.ActionLink(item.DisplayName, "Details", new { id = item.Id }))
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Address1AddressCity) &&
                                !string.IsNullOrEmpty(item.Address1AddressStateOrProvince))
                            {
                                @(item.Address1AddressCity + ", " + item.Address1AddressStateOrProvince)
                            }
                            else if (!string.IsNullOrEmpty(item.Address1AddressCity))
                            {
                                @(item.Address1AddressCity)
                            }
                            else if (!string.IsNullOrEmpty(item.Address1AddressStateOrProvince))
                            {
                                @(item.Address1AddressStateOrProvince)
                            }
                        </td>
                        <td style="text-align: right;">
                            <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Contacts/Conflicts/@(item.Id.Value)')">
                                <span class="fa fa-shield"></span> Conflict Check
                            </button>
                            <button type="button" class="btn btn-xs btn-default" onclick="navTo('/Contacts/Edit/@(item.Id.Value)')">
                                <span class="fa fa-pencil"></span> Edit
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>